@using MvcKutuphane.Models.Entitiy
@model List<hareket>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Layout.cshtml";
}


<h2>Ödünç Kitap Listesi</h2>

<table class="table table-hover table-bordered" style="margin-top:15px">
    <tr>
        <th>Id</th>
        <th>Kitap Ad</th>
        <th>Üye</th>
        <th>Personel</th>
        <th>Alış Tarihi</th>
        <th>İade Tarihi</th>
        <th>İade Al</th>
    </tr>
    @foreach (var x in Model)
    {
        <tr>
            <td>@x.id</td>
            <td>@x.kitap1.ad</td>
            <td>@x.uye1.ad @x.uye1.soyad</td>
            <td>@x.personel</td>
            <td>@Convert.ToDateTime(x.alisTarih).ToString("dd/MM/yyyy")</td>
            <td>@Convert.ToDateTime(x.iadeTarih).ToString("dd/MM/yyyy")</td>
            <td><a href="/Odunc/OduncIade/@x.id" class="btn btn-default" style="background-color:#ff6a00; color:white">Kitabı iade et</a></td>
        </tr>
    }
</table>
<a href="/Kitap/KitapEkle" class="btn btn-primary">Kitap Ekle</a>
